<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb image" data-mdb-ripple-color="light">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.image %}
                    {% if site.lazyimages == "enabled" %}
                        <img class="img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% else %}
                        <img class="img-fluid" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% endif %}
            </a>
            <a href="#!">
                    <div class="mask overlay" style="background-color: rgba(251, 251, 251, 0.2)"></div>
            </a>
                {% endif %}
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                {% include star_rating_postbox.html %}
                </div>
                {% endif %}
            </h2>
<!--            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:35 }}</h4>-->
            {% if post.beforetoc and post.toc %}
            <h4 class="card-text">{{ post.beforetoc | markdownify | truncate:150 }}</h4>
            {% else %}
            <h4 class="card-text">{{ post.excerpt | strip_html| truncate:150 }}</h4>
            {% endif %}
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {% if post.author %}
                <span class="meta-footer-thumb">
                {% if author.avatar %}
                <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                {% else %}
                <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                {% endif %}
                </span>
                <span class="author-meta"></span>
                <span class="post-name"><a target="_blank" href="{{ author.web }}">{{ author.display_name }}</a></span><br/>
                {% endif %}
                <span class="post-date"><i class="far fa-calendar" aria-hidden="true"></i>  {{ post.date | date: "%b %-d, %Y" }}</span>
                {% if post.last_modified_at %}
                &nbsp;|&nbsp;<i class="far fa-calendar-plus" aria-hidden="true"></i>
                &nbsp;<time datetime="{{ post.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ post.last_modified_at | date: "%b %-d, %Y" }}</time>
                {% endif %}

            </div>
        </div>
    </div>
</div>
<!-- end post -->